#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.sok{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.movie-list{
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 20px;
}

.film-card{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 2rem;

  img{
    width: 100%;
    height: fit-content;
  }
}